<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_903f906d0f165c97ecc74e35f793175b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_903f906d0f165c97ecc74e35f793175b" ></div>
        
</body>
<script>
    
    
            var map_903f906d0f165c97ecc74e35f793175b = L.map(
                "map_903f906d0f165c97ecc74e35f793175b",
                {
                    center: [34.0522, -118.2437],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_afeeaa4b3c0d494a6058fa4a60084997 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_afeeaa4b3c0d494a6058fa4a60084997.addTo(map_903f906d0f165c97ecc74e35f793175b);
        
    
            var marker_9690befa607a85364b3ed4bc8c1bf35b = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_903f906d0f165c97ecc74e35f793175b);
        
    
            var icon_fbc3a886539c16c055540076594c570a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9690befa607a85364b3ed4bc8c1bf35b.setIcon(icon_fbc3a886539c16c055540076594c570a);
        
    
        var popup_0915a5c8a1a5bfc1a4b39e90403bf789 = L.popup({"maxWidth": "100%"});

        
            
                var html_83145dc2b9c4ab88a1ee44cfeae9b2ff = $(`<div id="html_83145dc2b9c4ab88a1ee44cfeae9b2ff" style="width: 100.0%; height: 100.0%;">User Location</div>`)[0];
                popup_0915a5c8a1a5bfc1a4b39e90403bf789.setContent(html_83145dc2b9c4ab88a1ee44cfeae9b2ff);
            
        

        marker_9690befa607a85364b3ed4bc8c1bf35b.bindPopup(popup_0915a5c8a1a5bfc1a4b39e90403bf789)
        ;

        
    
    
            var marker_dd67c3aea9415b5f40c10842a27c086f = L.marker(
                [34.05194, -118.24353],
                {}
            ).addTo(map_903f906d0f165c97ecc74e35f793175b);
        
    
            var icon_3ef3df7aecf63690a6f04208bdceb36b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_dd67c3aea9415b5f40c10842a27c086f.setIcon(icon_3ef3df7aecf63690a6f04208bdceb36b);
        
    
        var popup_3011537bd2d571ef78213cbb107c2823 = L.popup({"maxWidth": "100%"});

        
            
                var html_c181378dc990e53e9103ac1f7e2c10c7 = $(`<div id="html_c181378dc990e53e9103ac1f7e2c10c7" style="width: 100.0%; height: 100.0%;">Main & 1st<br>Docks Available: 25<br>Distance: 0.03 km</div>`)[0];
                popup_3011537bd2d571ef78213cbb107c2823.setContent(html_c181378dc990e53e9103ac1f7e2c10c7);
            
        

        marker_dd67c3aea9415b5f40c10842a27c086f.bindPopup(popup_3011537bd2d571ef78213cbb107c2823)
        ;

        
    
    
            var marker_f053e6c895a631810bfd2557d92dedab = L.marker(
                [34.0529, -118.24156],
                {}
            ).addTo(map_903f906d0f165c97ecc74e35f793175b);
        
    
            var icon_e95071d3034a73a128f35ac46ea64521 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f053e6c895a631810bfd2557d92dedab.setIcon(icon_e95071d3034a73a128f35ac46ea64521);
        
    
        var popup_d87870aa9a9ca9b719ac27c0f9f12506 = L.popup({"maxWidth": "100%"});

        
            
                var html_e817447872f235f356198b817e959619 = $(`<div id="html_e817447872f235f356198b817e959619" style="width: 100.0%; height: 100.0%;">Los Angeles & Temple<br>Docks Available: 27<br>Distance: 0.21 km</div>`)[0];
                popup_d87870aa9a9ca9b719ac27c0f9f12506.setContent(html_e817447872f235f356198b817e959619);
            
        

        marker_f053e6c895a631810bfd2557d92dedab.bindPopup(popup_d87870aa9a9ca9b719ac27c0f9f12506)
        ;

        
    
    
            var marker_9390da89bd064babc3ad8c957924754f = L.marker(
                [34.05287, -118.24749],
                {}
            ).addTo(map_903f906d0f165c97ecc74e35f793175b);
        
    
            var icon_a25fd5159bc434856fad159e90c1a39b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9390da89bd064babc3ad8c957924754f.setIcon(icon_a25fd5159bc434856fad159e90c1a39b);
        
    
        var popup_ae4a78e64e717a2c65f832301283dffc = L.popup({"maxWidth": "100%"});

        
            
                var html_93f8106470a2181caac0a03fb2490427 = $(`<div id="html_93f8106470a2181caac0a03fb2490427" style="width: 100.0%; height: 100.0%;">2nd & Hill<br>Docks Available: 10<br>Distance: 0.36 km</div>`)[0];
                popup_ae4a78e64e717a2c65f832301283dffc.setContent(html_93f8106470a2181caac0a03fb2490427);
            
        

        marker_9390da89bd064babc3ad8c957924754f.bindPopup(popup_ae4a78e64e717a2c65f832301283dffc)
        ;

        
    
</script>
</html>