<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e78f30be7454ef63d621e44b4338a62b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_e78f30be7454ef63d621e44b4338a62b" ></div>
        
</body>
<script>
    
    
            var map_e78f30be7454ef63d621e44b4338a62b = L.map(
                "map_e78f30be7454ef63d621e44b4338a62b",
                {
                    center: [34.0522, -118.2437],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aee311f655ce1944cc363d149dad26f4 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_aee311f655ce1944cc363d149dad26f4.addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var marker_ee9a7d7eabb327ebe95e59f1c522dfab = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var icon_730e9b919a6702366d2a61ac267a5212 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ee9a7d7eabb327ebe95e59f1c522dfab.setIcon(icon_730e9b919a6702366d2a61ac267a5212);
        
    
        var popup_ba04dbcde8c8a4363d65b20b310d091c = L.popup({"maxWidth": "100%"});

        
            
                var html_fcb298b97799fb0e255d2d483d2a95e1 = $(`<div id="html_fcb298b97799fb0e255d2d483d2a95e1" style="width: 100.0%; height: 100.0%;">User Location</div>`)[0];
                popup_ba04dbcde8c8a4363d65b20b310d091c.setContent(html_fcb298b97799fb0e255d2d483d2a95e1);
            
        

        marker_ee9a7d7eabb327ebe95e59f1c522dfab.bindPopup(popup_ba04dbcde8c8a4363d65b20b310d091c)
        ;

        
    
    
            var marker_76f457934e64d49b231ea7b72bf3365f = L.marker(
                [34.05194, -118.24353],
                {}
            ).addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var icon_a026e444b59569e069c0e6f2db97d0e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_76f457934e64d49b231ea7b72bf3365f.setIcon(icon_a026e444b59569e069c0e6f2db97d0e0);
        
    
        var popup_5f46fe4a4964c178ce61937790487739 = L.popup({"maxWidth": "100%"});

        
            
                var html_21c0500531d31791a17506797c6c39d0 = $(`<div id="html_21c0500531d31791a17506797c6c39d0" style="width: 100.0%; height: 100.0%;">Main & 1st<br>Docks Available: 25<br>Distance: 0.03 km</div>`)[0];
                popup_5f46fe4a4964c178ce61937790487739.setContent(html_21c0500531d31791a17506797c6c39d0);
            
        

        marker_76f457934e64d49b231ea7b72bf3365f.bindPopup(popup_5f46fe4a4964c178ce61937790487739)
        ;

        
    
    
            var marker_4cabd8aee442917699e5ca08ab13322c = L.marker(
                [34.0529, -118.24156],
                {}
            ).addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var icon_163ac77fa1adb0c33df28977af122bf8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4cabd8aee442917699e5ca08ab13322c.setIcon(icon_163ac77fa1adb0c33df28977af122bf8);
        
    
        var popup_9efbcc0d9590a697759b35e913de1438 = L.popup({"maxWidth": "100%"});

        
            
                var html_789607c51d4369d03732f7ff0167cf75 = $(`<div id="html_789607c51d4369d03732f7ff0167cf75" style="width: 100.0%; height: 100.0%;">Los Angeles & Temple<br>Docks Available: 27<br>Distance: 0.21 km</div>`)[0];
                popup_9efbcc0d9590a697759b35e913de1438.setContent(html_789607c51d4369d03732f7ff0167cf75);
            
        

        marker_4cabd8aee442917699e5ca08ab13322c.bindPopup(popup_9efbcc0d9590a697759b35e913de1438)
        ;

        
    
    
            var marker_56ba4c6d9119cf31408a7ad38befce8f = L.marker(
                [34.05287, -118.24749],
                {}
            ).addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var icon_b1c0d88790884357d3c01b9dbf72d83f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_56ba4c6d9119cf31408a7ad38befce8f.setIcon(icon_b1c0d88790884357d3c01b9dbf72d83f);
        
    
        var popup_b6e4eb1657ba68bc77d6a09b52fa33f6 = L.popup({"maxWidth": "100%"});

        
            
                var html_51b0030da44580fc68d0dad82eff6850 = $(`<div id="html_51b0030da44580fc68d0dad82eff6850" style="width: 100.0%; height: 100.0%;">2nd & Hill<br>Docks Available: 10<br>Distance: 0.36 km</div>`)[0];
                popup_b6e4eb1657ba68bc77d6a09b52fa33f6.setContent(html_51b0030da44580fc68d0dad82eff6850);
            
        

        marker_56ba4c6d9119cf31408a7ad38befce8f.bindPopup(popup_b6e4eb1657ba68bc77d6a09b52fa33f6)
        ;

        
    
    
            var marker_28fc2eef3f5c62b4a0e59c95b4269173 = L.marker(
                [34.04998, -118.24716],
                {}
            ).addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var icon_4d2a12c58f92367a1f0478b35da491e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_28fc2eef3f5c62b4a0e59c95b4269173.setIcon(icon_4d2a12c58f92367a1f0478b35da491e8);
        
    
        var popup_e58cbd5916eecb367113d23c770b9b7f = L.popup({"maxWidth": "100%"});

        
            
                var html_62734861972b967673092fa67d005bca = $(`<div id="html_62734861972b967673092fa67d005bca" style="width: 100.0%; height: 100.0%;">Spring & 3rd<br>Docks Available: 11<br>Distance: 0.40 km</div>`)[0];
                popup_e58cbd5916eecb367113d23c770b9b7f.setContent(html_62734861972b967673092fa67d005bca);
            
        

        marker_28fc2eef3f5c62b4a0e59c95b4269173.bindPopup(popup_e58cbd5916eecb367113d23c770b9b7f)
        ;

        
    
    
            var marker_12d0782b474e83f6a784adbc72b1fd6b = L.marker(
                [34.05088, -118.24825],
                {}
            ).addTo(map_e78f30be7454ef63d621e44b4338a62b);
        
    
            var icon_909cd4256fc5c5e63c7de1e189cc22a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_12d0782b474e83f6a784adbc72b1fd6b.setIcon(icon_909cd4256fc5c5e63c7de1e189cc22a3);
        
    
        var popup_b6b4984c65651fbc56fa121a6db3816e = L.popup({"maxWidth": "100%"});

        
            
                var html_65de83a98f23d5c414a2e28416a40840 = $(`<div id="html_65de83a98f23d5c414a2e28416a40840" style="width: 100.0%; height: 100.0%;">Broadway & 3rd<br>Docks Available: 13<br>Distance: 0.44 km</div>`)[0];
                popup_b6b4984c65651fbc56fa121a6db3816e.setContent(html_65de83a98f23d5c414a2e28416a40840);
            
        

        marker_12d0782b474e83f6a784adbc72b1fd6b.bindPopup(popup_b6b4984c65651fbc56fa121a6db3816e)
        ;

        
    
</script>
</html>