<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2b5222feaccd1f022569162593ed0eb3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_2b5222feaccd1f022569162593ed0eb3" ></div>
        
</body>
<script>
    
    
            var map_2b5222feaccd1f022569162593ed0eb3 = L.map(
                "map_2b5222feaccd1f022569162593ed0eb3",
                {
                    center: [34.0522, -118.2437],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f5707f2eb4356483dcb38dbbbc12d3f3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_f5707f2eb4356483dcb38dbbbc12d3f3.addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var marker_407680d4bda0526f87014fb42bf66076 = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var icon_60e51179ba69cc406eb5b91a78b1301b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_407680d4bda0526f87014fb42bf66076.setIcon(icon_60e51179ba69cc406eb5b91a78b1301b);
        
    
        var popup_33558daf961a5a69fcaf291c758f3815 = L.popup({"maxWidth": "100%"});

        
            
                var html_9e35da669a02e96967a572d6e2c771d5 = $(`<div id="html_9e35da669a02e96967a572d6e2c771d5" style="width: 100.0%; height: 100.0%;">User Location</div>`)[0];
                popup_33558daf961a5a69fcaf291c758f3815.setContent(html_9e35da669a02e96967a572d6e2c771d5);
            
        

        marker_407680d4bda0526f87014fb42bf66076.bindPopup(popup_33558daf961a5a69fcaf291c758f3815)
        ;

        
    
    
            var marker_e599fb8d0f4f9fb8242bcaa703f9ab75 = L.marker(
                [34.05194, -118.24353],
                {}
            ).addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var icon_1379fa90c89868c12eee859a537ff125 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e599fb8d0f4f9fb8242bcaa703f9ab75.setIcon(icon_1379fa90c89868c12eee859a537ff125);
        
    
        var popup_07d72b44bb30fe048d4d2b7f9bff459f = L.popup({"maxWidth": "100%"});

        
            
                var html_2e09649428b4c749109b2165a72f2773 = $(`<div id="html_2e09649428b4c749109b2165a72f2773" style="width: 100.0%; height: 100.0%;">Main & 1st<br>Bikes Available: 4<br>Distance: 0.03 km</div>`)[0];
                popup_07d72b44bb30fe048d4d2b7f9bff459f.setContent(html_2e09649428b4c749109b2165a72f2773);
            
        

        marker_e599fb8d0f4f9fb8242bcaa703f9ab75.bindPopup(popup_07d72b44bb30fe048d4d2b7f9bff459f)
        ;

        
    
    
            var marker_4a7f2b49e296bc04298599fba54897af = L.marker(
                [34.0529, -118.24156],
                {}
            ).addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var icon_3db0a506cc87a84f0426e45a1cf7c59d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4a7f2b49e296bc04298599fba54897af.setIcon(icon_3db0a506cc87a84f0426e45a1cf7c59d);
        
    
        var popup_9b86ba9f5ccd3efcfcf709e67c3ffe69 = L.popup({"maxWidth": "100%"});

        
            
                var html_a7a336dbdcc9e1eebea1040babc27b8f = $(`<div id="html_a7a336dbdcc9e1eebea1040babc27b8f" style="width: 100.0%; height: 100.0%;">Los Angeles & Temple<br>Bikes Available: 3<br>Distance: 0.21 km</div>`)[0];
                popup_9b86ba9f5ccd3efcfcf709e67c3ffe69.setContent(html_a7a336dbdcc9e1eebea1040babc27b8f);
            
        

        marker_4a7f2b49e296bc04298599fba54897af.bindPopup(popup_9b86ba9f5ccd3efcfcf709e67c3ffe69)
        ;

        
    
    
            var marker_b751282323d7655e88b9774ace8a0663 = L.marker(
                [34.05287, -118.24749],
                {}
            ).addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var icon_3c71a4f3570089df5bad7ef1c18b6b66 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b751282323d7655e88b9774ace8a0663.setIcon(icon_3c71a4f3570089df5bad7ef1c18b6b66);
        
    
        var popup_eb917b3b43f0f36d2cfa2532ed4324bb = L.popup({"maxWidth": "100%"});

        
            
                var html_06dfbb4c131df42a7a546d1bb9ae443d = $(`<div id="html_06dfbb4c131df42a7a546d1bb9ae443d" style="width: 100.0%; height: 100.0%;">2nd & Hill<br>Bikes Available: 7<br>Distance: 0.36 km</div>`)[0];
                popup_eb917b3b43f0f36d2cfa2532ed4324bb.setContent(html_06dfbb4c131df42a7a546d1bb9ae443d);
            
        

        marker_b751282323d7655e88b9774ace8a0663.bindPopup(popup_eb917b3b43f0f36d2cfa2532ed4324bb)
        ;

        
    
    
            var marker_79252baf4cc21fd94459ab96ac02dd40 = L.marker(
                [34.04998, -118.24716],
                {}
            ).addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var icon_8b9d68cef75c419df93a93b4d347d661 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_79252baf4cc21fd94459ab96ac02dd40.setIcon(icon_8b9d68cef75c419df93a93b4d347d661);
        
    
        var popup_584cf55650556508be58616a7a7fb716 = L.popup({"maxWidth": "100%"});

        
            
                var html_4ecb89e7ea4723a897a60349fc5f84bc = $(`<div id="html_4ecb89e7ea4723a897a60349fc5f84bc" style="width: 100.0%; height: 100.0%;">Spring & 3rd<br>Bikes Available: 3<br>Distance: 0.40 km</div>`)[0];
                popup_584cf55650556508be58616a7a7fb716.setContent(html_4ecb89e7ea4723a897a60349fc5f84bc);
            
        

        marker_79252baf4cc21fd94459ab96ac02dd40.bindPopup(popup_584cf55650556508be58616a7a7fb716)
        ;

        
    
    
            var marker_ccd4e9d94c06964bbf1a01cdc454589d = L.marker(
                [34.05088, -118.24825],
                {}
            ).addTo(map_2b5222feaccd1f022569162593ed0eb3);
        
    
            var icon_a43c4f9f18cf5a2b4868cbd5a36ccb0d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ccd4e9d94c06964bbf1a01cdc454589d.setIcon(icon_a43c4f9f18cf5a2b4868cbd5a36ccb0d);
        
    
        var popup_eb50c779905a5e35e9be7458c220e31a = L.popup({"maxWidth": "100%"});

        
            
                var html_1ef2518e48ef37f0b01eebe4063bb62f = $(`<div id="html_1ef2518e48ef37f0b01eebe4063bb62f" style="width: 100.0%; height: 100.0%;">Broadway & 3rd<br>Bikes Available: 10<br>Distance: 0.44 km</div>`)[0];
                popup_eb50c779905a5e35e9be7458c220e31a.setContent(html_1ef2518e48ef37f0b01eebe4063bb62f);
            
        

        marker_ccd4e9d94c06964bbf1a01cdc454589d.bindPopup(popup_eb50c779905a5e35e9be7458c220e31a)
        ;

        
    
</script>
</html>