<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c6f35290bd753b0c07515fc61bc9e3ac {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c6f35290bd753b0c07515fc61bc9e3ac" ></div>
        
</body>
<script>
    
    
            var map_c6f35290bd753b0c07515fc61bc9e3ac = L.map(
                "map_c6f35290bd753b0c07515fc61bc9e3ac",
                {
                    center: [34.0522, -118.2437],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d3339fcb608ffda012e510580574ee52 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_d3339fcb608ffda012e510580574ee52.addTo(map_c6f35290bd753b0c07515fc61bc9e3ac);
        
    
            var marker_cfd3c51f4627d9fda4a4caf8e93fdc15 = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_c6f35290bd753b0c07515fc61bc9e3ac);
        
    
            var icon_f7ca41588d0fb18837673fe627a8f06f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_cfd3c51f4627d9fda4a4caf8e93fdc15.setIcon(icon_f7ca41588d0fb18837673fe627a8f06f);
        
    
        var popup_4c342180ac7736cc483b57dce30558dc = L.popup({"maxWidth": "100%"});

        
            
                var html_041040a44b6a8886c07b8cb0052f4f60 = $(`<div id="html_041040a44b6a8886c07b8cb0052f4f60" style="width: 100.0%; height: 100.0%;">User Location</div>`)[0];
                popup_4c342180ac7736cc483b57dce30558dc.setContent(html_041040a44b6a8886c07b8cb0052f4f60);
            
        

        marker_cfd3c51f4627d9fda4a4caf8e93fdc15.bindPopup(popup_4c342180ac7736cc483b57dce30558dc)
        ;

        
    
    
            var marker_4bb1381b0630860251dcc4a9672a82a3 = L.marker(
                [34.05194, -118.24353],
                {}
            ).addTo(map_c6f35290bd753b0c07515fc61bc9e3ac);
        
    
            var icon_576a2e80eb43fddd13bc8fef10c0db2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4bb1381b0630860251dcc4a9672a82a3.setIcon(icon_576a2e80eb43fddd13bc8fef10c0db2d);
        
    
        var popup_cf6d63655b0d8875f448074af830c570 = L.popup({"maxWidth": "100%"});

        
            
                var html_2cc87f9510b10a2a0af91daf97a90feb = $(`<div id="html_2cc87f9510b10a2a0af91daf97a90feb" style="width: 100.0%; height: 100.0%;">Main & 1st<br>Bikes Available: 4<br>Distance: 0.03 km</div>`)[0];
                popup_cf6d63655b0d8875f448074af830c570.setContent(html_2cc87f9510b10a2a0af91daf97a90feb);
            
        

        marker_4bb1381b0630860251dcc4a9672a82a3.bindPopup(popup_cf6d63655b0d8875f448074af830c570)
        ;

        
    
    
            var marker_baddc0a8932d7636b37e64b0caa6f7d4 = L.marker(
                [34.0529, -118.24156],
                {}
            ).addTo(map_c6f35290bd753b0c07515fc61bc9e3ac);
        
    
            var icon_4b3709f63cd0c2e7e18407f1bd07b438 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_baddc0a8932d7636b37e64b0caa6f7d4.setIcon(icon_4b3709f63cd0c2e7e18407f1bd07b438);
        
    
        var popup_91a8058a038e52cf4050f9693089743a = L.popup({"maxWidth": "100%"});

        
            
                var html_916dba1275425b11c8d653ba39413f74 = $(`<div id="html_916dba1275425b11c8d653ba39413f74" style="width: 100.0%; height: 100.0%;">Los Angeles & Temple<br>Bikes Available: 3<br>Distance: 0.21 km</div>`)[0];
                popup_91a8058a038e52cf4050f9693089743a.setContent(html_916dba1275425b11c8d653ba39413f74);
            
        

        marker_baddc0a8932d7636b37e64b0caa6f7d4.bindPopup(popup_91a8058a038e52cf4050f9693089743a)
        ;

        
    
    
            var marker_a5143ac4625b578e0c1033c9ee7c0f0c = L.marker(
                [34.05287, -118.24749],
                {}
            ).addTo(map_c6f35290bd753b0c07515fc61bc9e3ac);
        
    
            var icon_1f61c6c021ff8777c42c9731f7b9cecd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a5143ac4625b578e0c1033c9ee7c0f0c.setIcon(icon_1f61c6c021ff8777c42c9731f7b9cecd);
        
    
        var popup_10a795ab699cbe356152d703e1226c9e = L.popup({"maxWidth": "100%"});

        
            
                var html_a8b7eeb669ce9ed77568ff93f80b21de = $(`<div id="html_a8b7eeb669ce9ed77568ff93f80b21de" style="width: 100.0%; height: 100.0%;">2nd & Hill<br>Bikes Available: 7<br>Distance: 0.36 km</div>`)[0];
                popup_10a795ab699cbe356152d703e1226c9e.setContent(html_a8b7eeb669ce9ed77568ff93f80b21de);
            
        

        marker_a5143ac4625b578e0c1033c9ee7c0f0c.bindPopup(popup_10a795ab699cbe356152d703e1226c9e)
        ;

        
    
</script>
</html>